# Ignore JSON artifacts (e.g., contract ABIs, config files)
**/*.json

# Ignore build and cache directories
build/
frontend/.next/
frontend/contracts/

# Ignore migrations and script outputs
migrations/

# Ignore lock files
package-lock.json
frontend/package-lock.json

# Ignore node modules
node_modules/
frontend/node_modules/ 